* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #000033;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}
#title{
    font-size: 24px;
}
#container{
    width: 40vw;
}
#game-prompt{
    margin-top: 10%;
    font-size: 32px;
}
#buttons-container{
    display: flex;
    justify-content: space-around;
    margin: 5% auto;
}
.button{
    aspect-ratio: 1 / 1;
    width: 20%;
    cursor: pointer;
}
#scoreboard{
    display: flex;
    justify-content: space-evenly;
}
.score{
    font-size: 20px;
    font-weight: 900;
}

.disabled{
    pointer-events: none !important;
    cursor: not-allowed !important;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}